body {
  font-family: sans-serif;
}

input {
  border: none;
  border-radius: 16px;

  padding: 6px 16px;
  outline: none;
}
button {
  border-radius: 16px;
  border: none;

  padding: 4px 16px;
}
button:hover {
  background: #ff7fff;
  color: #fff;

  cursor: pointer;
}

li {
  margin-right: 8px;
}

/* title */
.title {
  font-weight: bold;
  color: #666;

  text-align: center;
  margin-top: 0;
}
/* 横並び */
.list-row {
  display: flex;
  align-items: center;

  padding-bottom: 4px;
}

/* 入力エリア */
.input-area {
  background: #c1ffff;

  width: 400px;
  height: 30px;

  padding: 8px;
  margin: 8px;

  border-radius: 8px;
}

/* 未完了エリア */
.incomplete-area {
  background: #c6ffe2;

  width: 400px;
  min-height: 200px;

  padding: 8px;
  margin: 8px;

  border-radius: 8px;
}

/* 完了エリア */
.complete-area {
  background: #ffffe0;

  width: 400px;
  min-height: 200px;

  padding: 8px;
  margin: 8px;

  border-radius: 8px;
}
